<div class="container p-4">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <input class="form-control form-control-lg" (input)="onSearch($event?.target?.value)" type="text" placeholder="Search..." />
    </div>
  </div>
  <hr/>
  <div class="row mt-4" *ngFor="let projectRow of collabs">
    <div class="col-4" *ngFor="let proj of projectRow ">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ proj.title }}</h5>
          <p class="card-text">{{ proj.shortDescription }}</p>
        </div>
        <div class="card-footer">
          <div class="btn-group-sm float-end">
            <a [routerLink]="['/project/', proj.id]" class="btn btn-primary">VIEW  <fa-icon [icon]="faEye"></fa-icon></a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
