<div class="project-hero">
  <div class="d-flex justify-content-between">
    <h1 class="project-title">{{ project?.title}}</h1>
    <div class="d-flex justify-content-center align-items-center flex-column">
      <fa-icon class="icon icon-completed" [icon]="faCheckCircle"></fa-icon>
      <h6>Completed</h6>
    </div>

  </div>

  <div class="d-flex join-flex justify-content-end">
    <button class="btn btn-outline-light">JOIN</button>
  </div>
</div>
<div class="container-fluid">
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink>Home</a>
      <ng-template ngbNavContent>
        <quill-view [content]="project.description" format="html" theme="snow"></quill-view>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Collaborators</a>
      <ng-template ngbNavContent>Second content</ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Artefact</a>
      <ng-template ngbNavContent>
        <div class="mt-4">
          <h5>You can find this artefact in the shop if it's listed there</h5>
          <hr/>
          <div class="mb-3">
            <img alt="artefact photo" [src]="project.artefact.picture" />
          </div>
          <div class="mb-3">
            <label for="artefact-name" class="form-label">Name: </label>
            <p id="artefact-name">{{ project.artefact.name }}</p>
          </div>
          <div class="mb-3">
            <label for="artefact-desc" class="form-label">Description: </label>
            <p id="artefact-desc">{{ project.artefact.description }}</p>
          </div>
          <div class="mb-3">
            <label for="artefact-price" class="form-label">Price: </label>
            <p id="artefact-price">${{ project.artefact.price }}</p>
          </div>
        </div>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>
